body {
  margin: 20px;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

#navbar-main {
  float: right !important;
  color: white !important;
}
.navClassColors {
  color: white !important;
  margin-bottom: 0 !important;
  border: none !important;
  
}
#inputFile {
  display:none;
}

*:focus {
    outline: none !important;
}

.mojeGalerijeItem {
  background-color: rgba(0,0,0,0.5);
  border: 2px solid white;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;

}



.mojeGalerijeItem a {
  color: white !important;
}
.mojeGalerijeItem button {
  float: right !important;
}

.expandNavbar {
  background-color: #343a40!important;
  display: block !important;
  width: 100vw !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  color: white !important;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  margin-top: 0 !important;
  border: none !important;
}
.expandNavbar1 {
  background-color: #343a40!important;
  width: 100% !important;
  margin: 5px !important;
  color: white !important;
  text-align: center;
  font-size: 15px;
  padding: 10px !important;
  border: 1px solid white;
  border-radius: 3px;
  margin-top: 0 !important;
}

.expandNavbar:focus {
  outline: none !important;
}
.navbar-toggler {
  padding: 0 !important;
}
.dropMenuName {
  background-color: black !important;
  color: white !important;
  margin: 5px !important;
  border: 2px solid white !important;
  margin-right: 0 !important;
}
.dropMenuName div {
  display: block;
  color: white !important;
  background-color: black !important;
  margin: 5px !important;
  width: 90%;
  
}
.dropMenuName div:hover {
  cursor: pointer;
}
.hoverSquad:hover {
    background-color: lightgray !important;
    border-radius: 3px;
}
.bodyClass {
  /*background-image: url("../images/3.jpg");*/
  background-color: black;
  
}
.mainDiv {
  color: white;
  
}
.uploadButtonDiv {
  float: left !important;
}
.topText {
  text-align: center;
  font-size: 45px;
  color: white;
}
.uploadObrazec {
  padding: 5px;
  text-align: left;
  background-color: #181818;
  border: 1px solid black;
  color: white;
  
}
.umiknSe {
  margin-left: 1%;
  margin-top: 10px;
}
.galerija_container {
  max-width: 98%;
  margin: auto;
  border-radius: 3px;
  margin-top: 10px;
}
.slikeGridItem:hover{
  cursor: pointer;
  /* background-color: rgba(255,255,255,0.3) */
  
}
.slikeGridItem {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  
}
.main-img {
  position: relative;
  width: 100%;
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
  background: rgba(0,0,0,0.8);
  padding-left: 10px;
  padding-right: 10px;
  
}
.main-img img,
.imgs img {
  width: 50%;
  margin: auto;
}
#temp {
  width: 100% !important;
}
.glow {
  border: 1px solid white;
}
.loginForm{
  background-color: rgba(0,0,0,0.4);
  color: white !important;
  padding: 10px;
  border: 2px solid white;
  border-radius: 3px;
  text-align: left;
}
.loginForm button {
  margin: auto;
  float: center;
  text-align: center;
}
.loginForm input{
  background-color: white;
}
.imgContainer {
  border: 1px solid black;
  text-align: center;
  position: relative;
  height: 140px;
  padding: 5px;
  background-color: black;
  color: white;
  padding-bottom: 10px;
  border-radius: 3px;
  
}
.imgs{
  border: 1px solid black;
  background: rgba(0,0,0,0.8);
  padding: 5px;
  border-radius: 3px;
  border: 2px solid white;
  margin-bottom: 10px;
}
.imgContainer img:hover {
  cursor: pointer;
}

.imageRow {
  border: 0px solid red;
  height: 10vh;
  width: auto;
  padding: 0;
  padding-bottom: 10px;
  margin: auto;
  overflow: hidden;

}
.main-img img{
  height: auto;
  width: 100%;
  padding: 1px;
  margin: auto;
}
.imageRow img {
  width: 100%;
  height: auto;
  margin: auto;
}
.restRow {
  width: 100%;
  height: 30%;
  padding: 0;
  margin-bottom: 15px;
  padding-bottom: 5px !important;
  border: 0px solid black;
  margin-top: 5px;


}
#current {
  /*padding-top: 10px;
  padding-bottom: 10px; */
  width: 100% !important;
  /* background: rgba(0,0,0,0);*/
}
#temp {
  width: 100% !important;
}
.rm {
  float: right;
  margin-bottom: 5px;
}
.cmpr {
  float: right;
  margin-right: 10px;
}
.imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  padding-bottom: 10px;
  max-height: 80vh;
  overflow: auto;
}
.imgs::-webkit-scrollbar { 
  display: none; 
}
  
/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.dropdown-menu {
  width: 32vh;
}