body {
  margin: 20px;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  
}
.mainDiv {
  background-image: url("/public/images/background.jpg");
  background-color: #cccccc;
  color: white;
  
}
.uploadButtonDiv {
  float: left !important;
}
.uploadObrazec {
  padding: 5px;
  text-align: left;
  background-color: #181818;
  border: 1px solid black;
  color: white;
  
}
.galerija_container {
  max-width: 90%;
  margin: auto;
  background: #fff;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #181818;
  margin-top: 10px;
}
.main-img {
  position: relative;
  width: 100%;
  height: 600px;
  text-align: center;
}
.main-img img,
.imgs img {
  width: 50%;
  margin: auto;
}
.imgContainer {
  border: 1px solid black;
  text-align: center;
  position: relative;
  height: 140px;
  padding: 5px;
  background-color: black;
  color: white;
  padding-bottom: 10px;
  border-radius: 3px;
  
}
.imgs{
  border: 1px solid black;
  background-color: lightgray;
  padding: 5px;
  border-radius: 3px;
}
.imgContainer img:hover {
  cursor: pointer;
}

.imageRow {
  border: 0px solid red;
  height: 10vh;
  width: auto;
  padding: 0;
  padding-bottom: 10px;
  margin: auto;
  overflow: hidden;

}
.main-img img{
  height: auto;
  width: auto;
  padding: 1px;
  margin: auto;
}
.imageRow img {
  width: 100%;
  height: auto;
  margin: auto;
}
.restRow {
  width: 100%;
  height: 30%;
  padding: 0;
  margin-bottom: 10px;
  border: 0px solid black;


}

.rm {
  float: right;
}
  
.imgs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}
  
/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

body {
  background-color: lightgray!important;
}