body {
  margin: 20px;
  padding: 0;
  background: #333;
}

  
.galerija_container {
  max-width: 1500px;
  margin: auto;
  border: #fff solid 3px;
  background: #fff;
}
.main-img {
  position: relative;
  width: 100%;
  height: 600px;
  text-align: center;
}
.main-img img,
.imgs img {
  width: 50%;
  margin: auto;
}
.imgContainer {
  border: 1px solid black;
  text-align: center;
  position: relative;
  height: 140px;
  
}

.imgContainer img:hover {
  cursor: pointer;
}

.imageRow {
  border: 0px solid red;
  height: 10vh;
  width: auto;
  padding: 0;
  padding-bottom: 10px;
  margin: auto;
  overflow: hidden;

}
.main-img img{
  height: auto;
  width: auto;
  padding: 1px;
  /*position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;*/
  margin: auto;
}
.imageRow img {
  width: 100%;
  height: auto;
  margin: auto;
}
.restRow {
  width: 100%;
  height: 30%;
  padding: 0;
  margin-bottom: 10px;
  border: 0px solid black;


}

.rm {
  float: right;
}
  
.imgs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}
  
/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

body {
  background-color: lightgray!important;
}