<navigacija ng-show="false"></navigacija>
<div class="loading" style="display: none;">Prosimo, počakajte ...</div>

<div>
  <div class="collapse" id="navbarToggleExternalContent">
   <nav class="navbar navbar-dark bg-dark navigationClass">
   <span class="navbar-brand mb-0 h1 navigationLogo">{{ vm.ime_galerije }}</span>
   
   <div class="btn-group uploadButtonDiv">
      <button ng-click="vm.openMenu1()" type="button" class="btn btn-secondary dropdown-toggle" aria-haspopup="true" aria-expanded="false" ng-show="vm.avtorIsLogedIn">
        Dodaj novo sliko
      </button>
      <div id="menu1" class="dropdown-menu dropMenuName">
            <div class="uploadObrazec">
            <form>
              <div style="margin-left: 15px; font-size: 24pt;">Naloži novo sliko</div>
                <div class="form-group col-sm-4">
                  <label for="imageName">Ime slike</label>
                  <input type="text" class="form-control" ng-model="vm.imeSlike" required="true" style="width: 30vw;">
                </div>
                <div class="form-group col-sm-4">
                  <label for="inputFile" class="btn btn-secondary">
                      Izberi sliko
                  </label>
                  <input type="file" id="inputFile" name="slika" class="btn btn-secondary">
                </div>
                <div class="form-group col-sm-4">
                  <button type="submit" class="btn btn-secondary" ng-click="vm.upload()">Naloži</button>
                </div>
              </form>
            </div>
      </div>
    </div>
    <div class="col-md-1">
      <button class="btn btn-secondary" id="buttonCompare" ng-click="vm.toggleCompare()">Vklopi primerjanje</button>
    </div>
    <div class="col-md-6">
      
    </div>
    <div class="col-md-1 uploadButtonDiv" style="text-align: right">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-show="vm.avtorIsLogedIn">
        {{ navvm.trenutniUporabnik.ime }}
      </button>
      <div class="dropdown-menu dropMenuName">
          <div ng-click="navvm.nazajNaGalerije()" class="hoverSquad">Moje galerije</div>
          <div ng-click="navvm.odjava()" class="hoverSquad">Odjava</div>
          
      </div>
      
      <ul class="nav navbar-nav navbar-right">
          <li ng-hide="navvm.jePrijavljen">
            <a href="/prijava">Prijava</a>
          </li>
          <li ng-show="navvm.jePrijavljen" class="btn-group uploadButtonDiv">
            
            
            
          </li>
        </ul>
    </div>

  </div>
  </nav>
  </div>
  <button class="navbar-toggler" ng-click="vm.odpriNavbar()" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span id="navNapis" class="navbar-toggler-icon expandNavbar">
        Pokaži orodno vrstico
      </span>
    </button>
</div>
<div class="mainDiv">
  
   <button class="btn btn-secondary dropdown-toggle umiknSe" type="button" data-toggle="collapse" ng-click="vm.pospraviSlikce()" data-target="#menu2" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                
                  Prikaži/skrij moje slike
                
            </button>
  <div class="galerija_container">
    <div class="row">
      <div class="col-md-3" id="majhneSlikce">
       
            <div id="menu2" class="collapse show">
              <div class="imgs">
                  <!-- tu notri je mreza slik ki se nalozijo iz baze -->
                  
              </div>
            </div>
      </div>
      <div class="col-md-9" id="glavnaSlikca">
        <div class="main-img">
              
              <!-- to je velika slika, ki se zamenja ob kliku na sliko v mrezi slik -->
              <div id="imgCompare1" class="col-md-12">
                <img ng-src="" id="current">
              </div>
              <div id="imgCompare2" class="col-md-6" ng-show="vm.compare">
                <img ng-src="" id="current2">
                
              </div>
              
            </div>
          
            
            
            
            <!-- obrazec za dodajanje novih slik -->
            
            
            
            <div role="alert" ng-show="vm.error" class="alert alert-danger">{{ vm.error }}</div>
      </div>
    </div>
      
            
            
            

</div>