<div class="loading" style="display: none;">Prosimo, počakajte ...</div>
<div class="container">
  <nav class="navbar navbar-dark bg-light navigationClass">
   <span class="navbar-brand mb-0 h1 navigationLogo">{{ vm.ime_galerije }}</span>
  </nav>
  <div class="galerija_container">
            <div class="main-img">
              <img ng-src="" id="current">
            </div>
          
            <div class="imgs">

            </div>
          
            <form>
              <div class="form-title">Naloži novo sliko</div>
              <div class="form-group col-sm-4">
                <label for="imageName">Ime slike</label>
                <input type="text" class="form-control" ng-model="vm.imeSlike" required="true">
              </div>
              <div class="form-group col-sm-4">
                <input type="file" id="inputFile" name="slika">
              </div>
              <div class="form-group col-sm-4">
                <button type="submit" class="btn btn-default" ng-click="vm.upload()">Naloži</button>
              </div>
            </form>
            
            <div role="alert" ng-show="vm.error" class="alert alert-danger">{{ vm.error }}</div>

</div>