<navigacija ng-show="false"></navigacija>
<div>
  <div class="collapse" id="navbarToggleExternalContent">
   <nav class="navbar navbar-dark bg-dark navigationClass">
    <span style="font-size: 20px; color: white !important">Spletna galerija</span>
   
   
    <div class="col-md-7">
      
    </div>
    <div class="col-md-1 uploadButtonDiv" style="text-align: right">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-show="vm.avtorIsLogedIn">
        {{ navvm.trenutniUporabnik.ime }}
      </button>
      <div class="dropdown-menu dropMenuName">
          <div ng-click="navvm.nazajNaGalerije()" class="hoverSquad">Moje galerije</div>
          <div ng-click="navvm.odjava()" class="hoverSquad">Odjava</div>
          
      </div>
      
      <ul class="nav navbar-nav navbar-right">
          <li ng-hide="navvm.jePrijavljen">
            <a href="/prijava">Prijava</a>
          </li>
          <li ng-show="navvm.jePrijavljen" class="btn-group uploadButtonDiv">
            
            
            
          </li>
        </ul>
    </div>

  </nav>
  </div>
  <button class="navbar-toggler" ng-click="vm.odpriNavbar()" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span id="navNapis" class="navbar-toggler-icon expandNavbar">
        Pokaži orodno vrstico
      </span>
    </button>
</div>
<div class="container">

    <div class="form-group col-md-2" style="margin: 10px">
        <button class="btn btn-secondary btn-lg" data-title="Add" data-toggle="modal" data-target="#add">Dodaj novo galerijo</button>
    </div>

    <div style="margin-left: 30px; background-color: rgba(0,0,1,0.8); padding: 10px; border: 2px solid white; border-radius: 3px;">
        <span style="color: white; font-size: 20px">Moje galerije</span>
        <br />
        <br />
        <div ng-repeat="galerija in vm.galerije">
            <div class="mojeGalerijeItem">
                <a href="/{{galerija._id}}">{{galerija.ime_galerije}}</a>
                <button class="btn btn-secondary btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete" data-href="{{galerija._id}}">Izbriši</button>
            </div>
        </div>
        
    </div>

</div>





<!--        MODALNO OKNO ZA DODAJANJE GALERIJE      -->

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title" id="Heading">Dodajanje nove galerije</h4>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <label for="dodajanjeGalerije">Ime galerije</label>
                    <input type="text" class="form-control" ng-model="vm.dodajanjeGalerije.ime_galerije">
                </div>

                <div class="alert alert-danger" ng-show="vm.formError"><span class="glyphicon glyphicon-warning-sign"></span> {{ vm.formError }}</div>
            </div>

            <div class="modal-footer ">
                <button type="submit" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Dodaj galerijo</button>
            </div>
        </div>
    </div>
</div>


<!-- MODALNO OKNO ZA IZBRIS GALERIJE -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title" id="Heading">Brisanje galerije</h4>
                </div>


                <div class="modal-body">
                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Ste prepričani, da želite izbrisati galerijo?</div>
                </div>


                <div class="modal-footer ">
                    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Da</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Ne</button>
                </div>
            </div>
        </div>
    </div>